body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: alda, serif;
  font-weight: 300;
  font-style: normal;
  color: #023a09;
  margin: 0;
  font-feature-settings: "tnum" on, "lnum" on;
}

p {
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  color: #2c2c2c;
  display: inline;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

a:hover {
  opacity: 50%;
}

button {
  font-size: 1.16em;
  font-family: mr-eaves-modern, sans-serif;
  color: #fff;
  border: none;
  padding: 0 1.5em;
  background-color: #023a09;
  height: 2em;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 50%;
}

button:disabled {
  background-color: #f4f4f4;
  color: #2c2c2c;
  cursor: default;
}

button:disabled:hover {
  opacity: 100%;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 3em;
    line-height: 1em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 12px;
    line-height: 2em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 2em;
  }

  p {
    font-size: 1.5em;
  }
}

header {
  height: 4em;
  width: 100vw;
  padding-left: calc(50vw - 450px);
  padding-right: calc(50vw - 450px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 5vw;
  }
}

footer {
  height: 3em;
  background-color: #023a09;
  width: 100vw;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1em;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .page {
    width: 80vw;
  }
}

.items {
  display: flex;
}

.item-s {
  height: 10em;
  width: 10em;
  margin-right: 5vw;
}

.item-m {
  height: 13em;
  width: 13em;
  margin-right: 1em;
}

@media screen and (max-width: 900px) {
  .item-m {
    height: 6em;
    width: 6em;
  }
}

.item-l {
  height: 25em;
  width: 25em;
  margin-right: 1em;
}

@media screen and (max-width: 900px) {
  .item-l {
    height: 14em;
    width: 14em;
  }
}

.remainder {
  background-color: #f4f4f4;
  width: 100vw;
  padding: 2em 0;
  box-sizing: border-box;
  min-height: 100px;
}

@media screen and (max-width: 900px) {
  .remainder {
    /* display: none; */
  }
}

.primary {
  height: 2em;
  padding: 0 2em;
  background-color: #0e9915;
  border: none;
  font-size: 1.5em;
}

/* Header Formatting */

#cart-counter {
  background-color: #023a09;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.2em;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 300;
  z-index: 2;
  position: absolute;
  bottom: 2em;
}

#cart-container {
  display: flex;
}

#cart-icon {
  position: relative;
  right: 0.5em;
}

/* Home Specific Styling */

#hero-container {
  display: flex;
  justify-content: center;
  position: relative;
}

#hero-image {
  min-height: 180px;
  height: 40vh;
  width: 100vw;
  object-fit: cover;
  position: relative;
  left: 0;
}

@media screen and (max-width: 900px) {
  #hero-image {
    height: 180px;
  }
}

#hero-text {
  color: #ffffff;
  position: absolute;
  bottom: 0em;
  z-index: 1;
}

#tee-about-section {
  width: 100vw;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 48px;
  height: calc(100vh - 40vh - 84px);
}

@media screen and (max-width: 900px) {
  #tee-about-section {
    width: 80%;
    height: initial;
  }
}

#tees-article {
  width: 50%;
}

@media screen and (max-width: 900px) {
  #tees-article {
    width: 100%;
    padding-bottom: 3em;
  }
}

#about-article {
  width: 50%;
  padding-left: 90px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  #about-article {
    width: 100%;
    margin: 0 auto;
    /* padding-left: 0; */
    position: relative;
    padding: 3em 0;
    box-sizing: initial;
  }
}

#about-background {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f4f4f4;
  height: 70%;
  width: 50vw;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  #about-background {
    height: 100%;
    width: 100vw;
    left: calc(-10vw);
  }
}

.tees {
  display: flex;
  flex-direction: column;
}

/* Shop Specific Formatting */

.increment {
  height: 2em;
  width: 2em;
  background-color: #023a09;
  color: #fff;
  font-family: alda, serif;
  border: none;
  font-size: 1.16em;
  line-height: 1.16em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .increment {
  }
}

.order {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  #order-container {
    width: 80vw;
  }
}

.other-item-container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 1em;
}

#item-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

@media screen and (max-width: 900px) {
  #item-info {
    flex-direction: column;
  }
}

#item-details {
  margin-bottom: 2em;
}

@media screen and (max-width: 900px) {
  #item-description {
    width: 80vw;
  }
}

#quantity-section {
  display: flex;
  margin-bottom: 2em;
}

#quantity-value {
  margin: 0 16px;
}

#size-selector {
  background-color: #023a09;
  height: 2em;
  font-size: 1.16em;
  color: #fff;
  width: 6em;
}

#right-side {
  width: 50%;
}

@media screen and (max-width: 900px) {
  #right-side {
    display: inline;
  }
}

#cost-container {
  display: flex;
}

#quantity-number:disabled {
  background-color: #fff;
  border: none;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  color: #2c2c2c;
  text-align: center;
}

#sold-out {
  display: none;
}

#last-one {
  display: none;
}

/* Cart Specific Formatting */

#total-container {
  display: flex;
  justify-content: flex-end;
}

#delivery {
margin-bottom: 2em;
position: relative;
right: 0;
}

#total-value {
  margin-left: 1em;
}

#populated-cart {
  margin: 2em 0;
}

#empty-cart {
  margin: 2em 0;
}

#empty-img {
  margin: 2em auto;
}

/* Delivery Specific Formatting */

label {
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
}

.input,
textarea {
  border-radius: 2px;
  border: none;
  padding: 2px 0.5em;
  height: 1.5em;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.input:last-child {
  margin-bottom: 0;
}

.input:focus {
  outline: #0e9915 auto 1px;
}

.grey-input {
  background-color: #f4f4f4;
  padding: 0 0.5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.flex-half {
  width: 50%;
}

@media screen and (max-width: 900px) {
  .flex-half {
    width: 100%;
  }
}

.inner-form {
  padding: 0 0.5em;
}

.separator {
  display: flex;
  justify-content: space-between;
}

.cart-item-small {
  display: flex;
  padding-bottom: 1em;
}

#address-input {
  resize: none;
  height: 7.5em;
}

#half-container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  #half-container {
    flex-direction: column;
  }
}

#sum-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#total-h2 {
  margin-right: 1em;
}

#confirm-payment {
  margin-bottom: 2em;
}

/* Payment Specific Styling */

#complete-order {
  margin-bottom: 2em;
}

#payment-remainder {
}
